<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834751961987-qqpon9h39feqtlq1fj3pijg6dd3f9chc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834751961987-qqpon9h39feqtlq1fj3pijg6dd3f9chc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>834751961987-aundc9hemvcd4dtep895crblu63mp4h3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBj5dLL66exc2mcdtPwY4QC8JNK-FgXYqc</string>
	<key>GCM_SENDER_ID</key>
	<string>834751961987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wolfmobileapps.GoFix</string>
	<key>PROJECT_ID</key>
	<string>gofixfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>gofixfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834751961987:ios:3e6c7d180b0c998f34b4b6</string>
	<key>DATABASE_URL</key>
	<string>https://gofixfinal.firebaseio.com</string>
</dict>
</plist>